<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findings from {{ nodes[0].name }}</title>
</head>
<body>
    <h1>Findings</h1>
    {% for node in nodes %}
        <h2>{{ node.name }}</h2>
        <div>
            {% for text in node.rich_text %}
                <p id="text_process">{{ text }}</p>
                
            {% endfor %}
        </div>
        {% for image in node.images %}
            <img src="data:image/png;base64,{{ image }}" alt="Image">
        {% endfor %}
    {% endfor %}
    <a href="{{ url_for('index') }}">Back to file list</a>
</body>
<script>
    function replaceNewlinesWithBr(text) {
    return text.replace(/\n/g, '<br>');
}
</script>
</html>
